@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("Homepage", "Home", FormMethod.Post))
{

    <h1>Doctor record is Inserted</h1>
    <input type="submit" value="Return to Homepage" />
}

