@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>Stone Clinic Privacy Policy</h3>
<p>Stone Clinic ( “Website” /“App” respectively), respects your privacy, and seeks to comply with applicable legal requirements in respect of data collection, processing and transfer.<br />Please read this Privacy Policy carefully. By accessing or using this website / app, you agree to be bound by the terms described herein and all the terms incorporated by reference. If you do not agree to all of these terms, do not use this website / app.</p>
<br/>
<p><h4>1.What is Personal Information?</h4>Personal information is that information which can be used to directly or indirectly identify you. It includes de-identified data that, when linked to other information available to us, would enable us to identify you. Personal data does not include data that has been irreversibly anonymized or aggregated so that we cannot identify you through it, even in conjugation conjunction with other information.<br />“Sensitive Personal Data or Information” means Personal Information of any individual relating to password; financial information such as bank account or credit card or debit card or other payment instrument details; physical, physiological and mental health condition; sexual orientation; medical records and history; biometric information; any detail relating to the above as provided to or received by Apollo Pharmacy for processing or storage. However, any data/ information relating to an individual that is freely available or accessible in public domain or furnished under the Right to Information Act, 2005 or any other law shall not qualify as Sensitive Personal Data or Information.</p>
<p>
    <h4>2.What types of data do we collect?</h4>Stone clinic, like many other websites uses “Cookies”. Cookies are small data files that a website stores on your web browser. These are used for the purpose of storing your preferences, previous activities browsing activities, profiling and tracking behaviour on this Website. By visiting Apollo Pharmacy, you acknowledge, accept and expressly authorize the placement of cookies on your web browser. We recommend that you clear the cookies stored on your browser from time to time.<br />When you sign up or register on the Apollo Pharmacy App or Website to use our Services, and during the course of actual usage of our Services, the types of information that will be collected by us include the following:

    Contact information: Name, Address, Contact details, Email ID, Phone Number;

    Demographic information: Gender, Age, Date of Birth; Marital Status, Nationality

    Data regarding your usage of the services such as search history and history of the appointments made by you through the use of Services;

    Any other detail relating to the above as voluntarily provided to Apollo Pharmacy by you, for providing value added service;

    Medical records and history which you voluntarily provide or is generated on usage of any of the services availed by you from any entity in the Apollo Group;

    Physical, physiological and mental health condition which you voluntarily provide or is generated on usage of our services through the app/website;

    Data regarding your medical qualifications, registrations and certifications;

    Any additional information that you voluntarily choose to provide to Apollo Pharmacy through any mode of communication or during any interaction.
</p>
<p><h4>3.Where do we collect your data from?</h4>Information that we collect from healthcare service provider (HSPs) such as doctors, hospitals, diagnostic centres, chemists etc. in the Apollo Group, to whom you have permitted the sharing of your personal information</p>
<p>
    <h4>4.How do we use your data?</h4>We use your Personal Information for purposes that include the following:

    General (end users and doctors):

    Your registration for the purpose of receiving our Services, identification, communication, notification and for fulfilment of the Terms and Conditions [Insert link of terms and conditions]
</p>
<p><h4>5.How long will we retain your data?</h4>We store your personal information in accordance with applicable laws, which means we keep your data for as long as necessary to provide you with our Services or as may be required under any law. We shall store your personal information for lawful purposes only. We keep de-identified data for research and statistical purposes for a longer period.</p>
